<div class="w3-top">
    <div class="w3-bar w3-pink w3-sans-serif">
        <a href= "index.jsp" class="w3-bar-item w3-button w3-mobile">Adjust Data</a>
        <a href= "viewdata" class="w3-bar-item w3-button w3-mobile">View Data</a>
        <div class="w3-dropdown-hover w3-mobile w3-right">
            <button class="w3-button">Welcome <%=session.getAttribute("name")%>! <i class="fa fa-caret-down"></i></button>
            <div class="w3-dropdown-content w3-bar-block w3-dark-grey">
                <a href="usersetting.jsp" class="w3-bar-item w3-button w3-mobile">Account Setting</a>
                <a href="logout" class="w3-bar-item w3-button w3-mobile">Logout</a>
            </div>
        </div>
    </div>
</div>