<input type="hidden" id="status" value="<%= request.getAttribute("status")%>">
<div id="booking" class="section">
    <div class="section-center">
        <div class="container">
            <div class="row">
                <div class="booking-form">
                    <div class="w3-container">

                        <div class="w3-container">
                            <div class="w3-bar w3-pink">
                                <button class="w3-bar-item w3-button tablink w3-white" onclick="openCity(event,'fname')">Create new Route</button>
                                <button class="w3-bar-item w3-button tablink" onclick="openCity(event,'email')">Add Route to Date</button>
                                <button class="w3-bar-item w3-button tablink" onclick="openCity(event,'pass')">Create new ADMIN</button>
                            </div>

                            <div id="fname" class="w3-container w3-white w3-border city">
                                <div class="w3-padding-16">
                                    <form class="w3-container w3-card-4" method="post" action="create_new_route">
                                        <h2> Create new transit route</h2>
                                        <p>
                                            <label class="w3-text-pink"><b>Bus ID number</b></label>
                                            <input class="w3-input w3-border" name="new_route_busID" type="text" required></p>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="w3-text-pink"><b>From</b></label>
                                                    <select name="new_route_from" class="w3-select w3-input w3-border">
                                                        <option value="-1" >Select depnarture</option>
                                                        <%
                                                        try{
                                                        String Query ="select * from cities";
                                                        Class.forName("com.mysql.cj.jdbc.Driver");
                                                        Connection con = DriverManager.getConnection("jdbc:mysql://localhost:3306/company","root","admin");
                                                        Statement stm =con.createStatement();
                                                        ResultSet rs=stm.executeQuery(Query);
                                                        while(rs.next()) {
                                                        %>
                                                        <option value="<%=rs.getInt("city_id")%>"><%=rs.getString("city_name")%></option>
                                                        <%
                                                        }
                                                        } catch (Exception e) {
                                                        e.printStackTrace();
                                                        }
                                                        %>>
                                                    </select>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="w3-text-pink"><b>To</b></label>
                                                    <select name="new_route_to" class="w3-select w3-input w3-border " required>
                                                        <option value="-1" class="w3-text-pink">Select destination</option>
                                                        <%
                                                        try{
                                                        String Query ="select * from cities";
                                                        Class.forName("com.mysql.cj.jdbc.Driver");
                                                        Connection con = DriverManager.getConnection("jdbc:mysql://localhost:3306/company","root","admin");
                                                        Statement stm =con.createStatement();
                                                        ResultSet rs=stm.executeQuery(Query);
                                                        while(rs.next()) {
                                                        %>
                                                        <option value="<%=rs.getInt("city_id")%>"><%=rs.getString("city_name")%></option>
                                                        <%
                                                        }
                                                        } catch (Exception e) {
                                                        e.printStackTrace();
                                                        }
                                                        %>>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <p>
                                                        <label class="w3-text-pink"><b>Number of seat</b></label>
                                                        <input class="w3-input w3-border" name="new_route_numseat" type="text" required></p>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label class="w3-text-pink"><b>Seat type</b></label>
                                                <div class="form-group ">
                                                    <select class="w3-select w3-input w3-border" name="new_route_seattype" required>
                                                        <option value="" disabled selected>Choose your option</option>
                                                        <option value="1">Seating</option>
                                                        <option value="2">Bed</option>

                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <p>
                                                        <label class="w3-text-pink"><b>Start time</b></label>
                                                        <input class="w3-input w3-border" name="new_route_starttime" type="time" required></p>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <p>
                                                        <label class="w3-text-pink"><b>End time</b></label>
                                                        <input class="w3-input w3-border" name="new_route_endtime" type="time" required></p>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <p>
                                                        <label class="w3-text-pink"><b>Price</b></label>
                                                        <input class="w3-input w3-border" name="new_route_price" type="text" required></p>
                                                </div>
                                            </div>
                                        </div>
                                        <p><button class="w3-btn w3-pink w3-round-xxlarge">Create</button></p>
                                    </form>

                                </div>
                            </div>

                            <div id="email" class="w3-container w3-white w3-border city" style="display:none">
                                <div class="w3-padding-16">
                                    <form class="w3-container w3-card-4"  method="post" action="create_new_date_route">
                                        <h2> Add a route to specific date</h2>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <p>
                                                        <label class="w3-text-pink"><b>Date</b></label>
                                                        <input class="w3-input w3-border" name="new_date_route_dateID" type="date" required></p>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <p>
                                                        <label class="w3-text-pink"><b>Bus ID</b></label>
                                                        <input class="w3-input w3-border" name="new_date_route_busID" type="text" required></p>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="w3-btn w3-pink w3-round-xxlarge">Add</button></p>
                                    </form>
                                </div>
                            </div>
                            <div id="pass" class="w3-container w3-white w3-border city" style="display:none">
                                <div class="w3-padding-16">
                                    <form class="w3-container w3-card-4" method="post" action="register">
                                        <h2>Create new ADMIN account</h2>
                                        <p>
                                            <label class="w3-text-pink"><b>Username</b></label>
                                            <input class="w3-input w3-border" name="username" type="text" required></p>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <p>
                                                        <label class="w3-text-pink"><b>First name</b></label>
                                                        <input class="w3-input w3-border" name="firstname" type="text" required></p>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <p>
                                                        <label class="w3-text-pink"><b>Last name</b></label>
                                                        <input class="w3-input w3-border" name="lastname" type="text" required></p>
                                                </div>
                                            </div>
                                        </div>
                                        <p>
                                            <label class="w3-text-pink"><b>Email</b></label>
                                            <input class="w3-input w3-border" name="email" type="text" required></p>
                                        <p>
                                            <label class="w3-text-pink"><b>New password</b></label>
                                            <input class="w3-input w3-border" name="pass" type="password" required></p>
                                        <p>
                                            <label class="w3-text-pink"><b>Repeat new password</b></label>
                                            <input class="w3-input w3-border" name="repass" type="password" required></p>

                                        <input name="admin" type="hidden" value="true">
                                        <p>
                                        <button class="w3-btn w3-pink w3-round-xxlarge">Create</button></p>
                                    </form>
                                </div>
                            </div>

                            <script>
                                function openCity(evt, cityName) {
                                    var i, x, tablinks;
                                    x = document.getElementsByClassName("city");
                                    for (i = 0; i < x.length; i++) {
                                        x[i].style.display = "none";
                                    }
                                    tablinks = document.getElementsByClassName("tablink");
                                    for (i = 0; i < x.length; i++) {
                                        tablinks[i].className = tablinks[i].className.replace(" w3-white", "");
                                    }
                                    document.getElementById(cityName).style.display = "block";
                                    evt.currentTarget.className += " w3-white";
                                }
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js" integrity="sha384-RIQuldGV8mnjGdob13cay/K1AJa+LR7VKHqSXrrB5DPGryn4pMUXRLh92Ev8KlGF" crossorigin="anonymous"></script>
<link rel="stylesheet" href="alert/dist/sweetalert.css">
<script type="text/javascript">
    var status = document.getElementById("status").value;
    //SUCCESS
    if (status == "route_success") {
        swal("Database update succesful","Route created!","success");
    }
    if (status == "date_success") {
        swal("Database succesful","Route added!","success");
    }
    if (status =="success") {

    }
    //ERROR
    if (status == "route_failed") {
        swal("Error","Route not created!","error");
    }
    if (status == "date_failed") {
        swal("Error","Route not added!","error");
    }
    if (status == "date_notfound") {
        swal("Error","Bus ID not found!","error");
    }
    if (status == "date_already") {
        swal("Error","Already running that day!","error");
    }

    //ADMIN
    if (status == "success") {
        swal("Welcome to PhucBus","Account created!","success");
    }
    if (status == "already") {
        swal("Username or Email exists!","Registration failed!","error");
    }
    if (status == "pw_noteql") {
        swal("Password error","Passwords not match! ","error");
    }

</script>