
<web-app>
  <display-name>login</display-name>
    <!-- <filter>
      <filter-name>clickjackFilter</filter-name>
      <filter-class>com.phucprod.filter.ClickjackFilter</filter-class>
      <init-param>
          <param-name>mode</param-name>
          <param-value>SAMEORIGIN</param-value>
      </init-param>
  </filter> -->
<!-- 
  <filter-mapping>
      <filter-name>clickjackFilter</filter-name>
      <url-pattern>/*</url-pattern>
  </filter-mapping> -->

  <!-- <filter>
      <filter-name>SameSiteCookieFilter</filter-name>
      <filter-class>com.phucprod.samesitefilter.SameSiteCookieFilter</filter-class>
  </filter>
  <filter-mapping>
      <filter-name>SameSiteCookieFilter</filter-name>
      <url-pattern>/*</url-pattern>
  </filter-mapping> -->
  <session-config>
    <cookie-config>
      <http-only>true</http-only>
    </cookie-config>
  </session-config>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
