<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
    version="6.0">
  <display-name>login</display-name>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <!-- <filter>
    <filter-name>ParameterFilter</filter-name>
    <filter-class>com.phucprod.filter.ParameterFilter</filter-class>
  </filter>

  <filter>
    <filter-name>ClickjackPreventionFilterDeny</filter-name>
    <filter-class>com.phucprod.filter.ClickjackingPreventionFilter</filter-class>
    <init-param>
      <param-name>mode</param-name>
      <param-value>DENY</param-value>
    </init-param>
  </filter> -->

  <!-- <filter-mapping>
    <filter-name>ParameterFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>ClickjackPreventionFilterDeny</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping> -->

  <session-config>
    <cookie-config>
      <http-only>true</http-only>
    </cookie-config>
  </session-config>
</web-app>
